.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroContainer{
    
    width: 70rem;
    border: 5px solid white;
    padding: 2rem;
    animation-name: moveUpSlow;
    animation-duration: 1s;

    
    
}

.heroText{
    color: white;
    text-align: center;
    font-family: 'Oooh Baby', cursive;

}

.heroText h1{
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;

}

.heroDescription{
    font-size: 3rem;
    text-align: justify;
}

@media (max-width : 800px){
    .heroContainer{
        width : 80%;
    }
}

@media (max-width : 600px){

    .heroText{
        font-size: 1.5rem;
    }
    .heroDescription{
        font-size: 2rem;
    }
}
@keyframes moveUpSlow{
    0%{
        transform: translateY(100%);
    }
    80%{
        transform: translateY(-5%);
    }
    100%{
       
        transform: translateY(0);
        
    }
}